@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background: #1E302D;
}

input {
    @apply w-full px-6 py-4 bg-[#21413E] rounded-lg
}
